absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
appdirs==1.4.4
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630042503/work
asgiref==3.2.10
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astroid @ file:///D:/bld/astroid_1591645316676/work
astropy==4.0.1.post1
astunparse==1.6.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
bcrypt @ file:///D:/bld/bcrypt_1597603720555/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601138718136/work
bitarray @ file:///D:/bld/bitarray_1598308201988/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
bokeh @ file:///D:/bld/bokeh_1599001238673/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1600276628150/work
chardet @ file:///D:/bld/chardet_1600358690877/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.7
contextlib2==0.6.0.post1
cryptography @ file:///D:/bld/cryptography_1600960404355/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1594253750098/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1601097215442/work
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distlib==0.3.1
distributed @ file:///D:/bld/distributed_1601097912789/work
dj-database-url==0.5.0
Django==3.1.2
django-heroku==0.3.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
Flask==1.1.2
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1601068219741/work
future==0.18.2
gast==0.3.3
gevent @ file:///D:/bld/gevent_1601162130670/work
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet @ file:///D:/bld/greenlet_1600950558692/work
grpcio==1.30.0
gunicorn==20.0.4
h5py @ file:///D:/bld/h5py_1595110386688/work
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///D:/bld/imagecodecs_1593295673180/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1600910662556/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1595447084845/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1598750147809/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///D:/bld/isort_1600658980260/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpath-ng==1.5.1
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///D:/bld/keyring_1600439640080/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lesscpy==0.14.0
libarchive-c @ file:///D:/bld/python-libarchive-c_1600955091140/work
lightgbm==2.3.1
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///D:/bld/lxml_1594322910610/work
Markdown==3.2.2
MarkupSafe @ file:///D:/bld/markupsafe_1600368513338/work
matplot==0.1.9
matplotlib @ file:///D:/bld/matplotlib-base_1600159364636/work
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
mock @ file:///D:/bld/mock_1588618954405/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpl-finance==0.10.1
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
multitasking==0.0.9
mysqlclient==2.0.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///D:/bld/nbconvert_1600870029138/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1600716022894/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose==1.3.7
notebook @ file:///D:/bld/notebook_1599742602312/work
numba @ file:///D:/bld/numba_1599085068855/work
numexpr @ file:///D:/bld/numexpr_1591280488035/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596215850360/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
oauthlib==3.1.0
olefile==0.46
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
opt-einsum==3.2.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1599601180493/work
pandas-datareader==0.9.0
pandocfilters==1.4.2
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso==0.5.2
partd==1.1.0
path @ file:///D:/bld/path_1595896533149/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213067156/work
pkginfo==1.5.0.1
placeholder==1.1
pluggy @ file:///D:/bld/pluggy_1592827734646/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.12.2
psutil @ file:///D:/bld/psutil_1594827164091/work
psycopg2==2.8.6
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///D:/bld/pycosat_1600366842012/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycurl==7.43.0.5
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pylint @ file:///D:/bld/pylint_1598117275892/work
pyloco==0.0.139
PyMySQL==0.10.1
PyNaCl==1.3.0
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1599988476846/work
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
pytz==2020.1
PyWavelets @ file:///D:/bld/pywavelets_1599487624734/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1601072785234/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
readme-renderer==26.0
regex @ file:///D:/bld/regex_1594799548191/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1598972498566/work
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1592916963468/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
Send2Trash==1.5.0
simplegeneric==0.8.1
SimpleWebSocketServer==0.1.1
singledispatch==3.4.0.3
sip==4.19.20
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy @ file:///D:/bld/sqlalchemy_1597702122451/work
sqlparse==0.4.1
stats==0.1.2a0
statsmodels @ file:///D:/bld/statsmodels_1598551276148/work
sympy @ file:///D:/bld/sympy_1597017630791/work
tables==3.6.1
tblib==1.6.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1600709990768/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1600919818283/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1599956693194/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1600970644261/work
twine==3.2.0
typing==3.7.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson==1.35
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
ushlex==0.99.1
virtualenv==20.0.35
watchdog @ file:///D:/bld/watchdog_1595646497644/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
white==0.1.2
whitenoise==5.2.0
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164609360/work
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1600910442126/work
xlwings==0.20.7
xlwt==1.3.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
yfinance==0.1.54
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1600892581779/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface==5.1.0
absl-py==0.9.0
alabaster==0.7.12
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630110014/work
asgiref==3.2.7
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astor==0.8.1
astroid @ file:///D:/bld/astroid_1591645286655/work
astropy==4.0.1.post1
astunparse==1.6.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
audioread==2.1.8
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
bcrypt @ file:///D:/bld/bcrypt_1597603699121/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601138718136/work
bitarray @ file:///D:/bld/bitarray_1598307975542/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blinker==1.4
blis==0.4.1
bokeh @ file:///D:/bld/bokeh_1592227634309/work
boto==2.49.0
boto3==1.14.2
botocore==1.17.2
Bottleneck==1.3.2
branca==0.4.1
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1600276624154/work
chardet @ file:///D:/bld/chardet_1600358759938/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.7
conda==4.8.5
conda-build==3.20.3
conda-package-handling @ file:///D:/bld/conda-package-handling_1600353891882/work
conda-verify==3.1.1
contextlib2==0.6.0.post1
cryptography @ file:///D:/bld/cryptography_1600960402068/work
cycler==0.10.0
cymem==2.0.3
Cython @ file:///D:/bld/cython_1594253747180/work
cytoolz==0.11.0
dark==0.7.1
dask==2.13.0
dataprep @ file:///home/conda/feedstock_root/build_artifacts/dataprep_1596518321798/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distributed @ file:///D:/bld/distributed_1601097983963/work
dj-database-url==0.5.0
Django==3.0.7
django-extensions==2.2.9
django-heroku==0.3.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
Flask==1.1.2
folium==0.11.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1601068219741/work
future==0.18.2
gast==0.3.3
gensim==3.8.3
gevent @ file:///D:/bld/gevent_1601162052689/work
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.20.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
greenlet @ file:///D:/bld/greenlet_1600950539426/work
grpcio==1.30.0
gunicorn==20.0.4
h11==0.10.0
h2==3.2.0
h5py @ file:///D:/bld/h5py_1595110299148/work
HeapDict==1.0.1
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1600439907620/work
hpack==3.0.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hyperframe==5.2.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
image==1.5.32
imagecodecs @ file:///D:/bld/imagecodecs_1593295625443/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1600910602148/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1595447157738/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1598750239682/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///D:/bld/isort_1601445877023/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///D:/bld/jedi_1592619562975/work
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
JPype1 @ file:///D:/bld/jpype1_1596811773911/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpath-ng @ file:///home/conda/feedstock_root/build_artifacts/jsonpath-ng_1599497963832/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
kaitaistruct==0.8
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring @ file:///D:/bld/keyring_1600439785508/work
kiwisolver==1.2.0
konlpy==0.5.2
labelImg==1.8.3
lazy-object-proxy==1.4.3
ldap3==2.7
libarchive-c @ file:///D:/bld/python-libarchive-c_1600955154776/work
librosa==0.7.2
lightgbm==2.3.1
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///D:/bld/lxml_1594322926828/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe @ file:///D:/bld/markupsafe_1600368487166/work
matplotlib @ file:///D:/bld/matplotlib-base_1600159346022/work
mccabe==0.6.1
menuinst==1.4.16
mglearn==0.1.9
missingno==0.4.2
mistune==0.8.4
mitmproxy==5.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///D:/bld/mock_1588619039489/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpl-finance==0.10.1
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
murmurhash==1.0.2
mysql-connector-python==8.0.21
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///D:/bld/nbconvert_1600869883862/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose==1.3.7
notebook @ file:///D:/bld/notebook_1599742596731/work
numba @ file:///D:/bld/numba_1599085049111/work
numexpr @ file:///D:/bld/numexpr_1591280586196/work
numpy==1.18.5
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
oauthlib==3.1.0
olefile==0.46
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
opt-einsum==3.2.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1592422178599/work
pandocfilters==1.4.2
panel==0.9.5
param==1.9.3
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1598988093657/work
parso==0.7.0
partd==1.1.0
passlib==1.7.2
path @ file:///D:/bld/path_1595896481429/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pefile==2019.4.18
pep8==1.7.1
petrone==0.1.58
pexpect==4.8.0
phantomjs==1.3.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213048891/work
pkginfo==1.5.0.1
plac==1.1.3
plot==0.6.5
pluggy @ file:///D:/bld/pluggy_1592827687923/work
ply==3.11
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.11.3
psutil @ file:///D:/bld/psutil_1594827123623/work
psycopg2==2.8.6
publicsuffix2==2.20191221
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///D:/bld/pycosat_1600366928699/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycrypto==2.6.1
pyct==0.4.6
pycurl==7.43.0.5
pydivert==2.1.0
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pylint @ file:///D:/bld/pylint_1598117275719/work
PyNaCl @ file:///D:/bld/pynacl_1601295202962/work
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1599988498407/work
pyserial==3.4
PySocks==1.7.1
pytest==6.1.0
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1600306384607/work
pytz==2020.1
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1594121601757/work
PyWavelets @ file:///D:/bld/pywavelets_1599487794414/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1601436771964/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
regex @ file:///D:/bld/regex_1601211408994/work
render==1.0.0
requests==2.23.0
requests-oauthlib==1.3.0
resampy==0.2.2
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1598972574949/work
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn @ file:///D:/bld/scikit-learn_1596546337481/work
scipy==1.4.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.20
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
smart-open==2.0.0
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
soynlp==0.0.493
spacy==2.2.4
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder @ file:///D:/bld/spyder_1599019574284/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1599014740803/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1597702078528/work
sqlparse==0.3.1
srsly==1.0.2
statsmodels @ file:///D:/bld/statsmodels_1598551192913/work
sympy @ file:///D:/bld/sympy_1597017575697/work
tables==3.6.1
tblib==1.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1600709850780/work
testpath==0.4.4
thinc==7.4.0
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1601589267960/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado==5.0.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1601259122622/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1600970644261/work
tweepy==3.8.0
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson @ file:///D:/bld/ujson_1599591302984/work
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
urwid==2.0.1
wasabi==0.6.0
watchdog @ file:///D:/bld/watchdog_1595646497503/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164533747/work
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud @ file:///D:/bld/wordcloud_1597448640765/work
wrapt==1.11.2
wsproto==0.15.0
wxPython==4.1.0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1600910442126/work
xlwings==0.20.7
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1600892581779/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///D:/bld/zope.interface_1601562204475/work
zstandard==0.13.0
